<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Ohana3DS_Rebirth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <Ohana3DS_Rebirth.Properties.Settings>
            <setting name="meOutFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="meFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="meExportAllMdls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="meExportAllAnms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="teOutFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="teExportAllTxs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reAntiAlias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reBackgroundColor" serializeAs="String">
                <value>-9868951</value>
            </setting>
            <setting name="reShowGuidelines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reShowInformation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reShowAllMeshes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reFragmentShader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reLegacyTexturingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="viewShowSidebar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reWireframeMode" serializeAs="String">
                <value>False</value>
            </setting>
        </Ohana3DS_Rebirth.Properties.Settings>
    </userSettings>
</configuration>
